.mintPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.maintenancediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.maintenancediv img {
    width: 480px;
    height: auto;
}
#maintenancetext {
    color: #5A235A;
    text-transform: uppercase;
    text-align: left;
}

@media (max-width: 670px) {
    .maintenancediv {
        flex-direction: column;
    }
    .maintenancediv img {
        width: auto;
        height: 360px;
    }
    #maintenancetext {
        text-align: center;
    }
}