* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #5A235A;
}

.navbar a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    list-style: none;
    color: white;
    padding: 0rem 1.5rem;
    text-transform: uppercase;
}

.nav-links li:hover {
    color: #53AD45;
}

.logo {
    max-width: 250px;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}
button {
    border: none;
    text-decoration: none;
    font-size: 20px;
    background: none;
}

@media (max-width: 918px) {
    .navbar {
        padding-top: 10%;
    }
    .logo {
      display: flex;
      position: absolute;
      left: 15px;
      max-width: 120px;
      min-width: 120px;
    }
    .nav-links {
      display: none;
    }
    .nav-links-mobile {
      position: absolute;
      display: block;
      list-style: none;
      box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      left: 0;
      top: 0;
      transition: all 0.5s ease-in-out;
      width: 100%;
      background-color: rgba(83, 173, 69, 0.75);
      z-index: 1;
      padding: 25% 0;
    }
    .nav-links-mobile li {
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease-in-out;
      text-align: center;
      text-transform: uppercase;
      color: white;
    }
    .mobile-menu-icon {
      position: absolute;
      display: block;
      right: 35px;
      color: white;
      z-index: 1;
    }
    .socialIcons {
      display: none;
    }
  }

