* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

.teamSec {
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #814780;
    overflow: hidden;
}

.team {
    width: 100%;
}

.team .row .cardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team h1 {
    color: #fff;
    text-align: left;
}

@media (max-width: 768px) {
    .teamSec {
        padding: 0 0 50px 0;
    }

    .team h1 {
        margin-top: 50px;
        text-align: center;
    }

    .cardDiv img {
        display: block;
        margin: auto;
    }
}
