.ff-bristol {
  font-family: "Bristol";
 }

.App {
  text-align: center;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5A235A;
    overflow: hidden;
}

.navbar, .headerSec, .aboutSec, .faqsSec {
  background-image: url('./assets/bg-texture.png');
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover;
}